:root {
  --primary-color: rgb(44, 33, 149);
  --secondary-color: #2d2d35;
  --body-color: #222225;
  --main-chat-area: #1d1d20;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
body {
  background: var(--body-color);
  font-family: Arial, Helvetica, sans-serif;
}

.app-wrapper .sidebar .sidebar-nav {
  background: rgb(37, 36, 36);
  width: 50px;
  height: 100%;
}
.app-wrapper .sidebar .sidebar-nav .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.app-wrapper .sidebar .sidebar-nav .container i {
  font-size: 22px;
  color: rgb(93, 87, 87);
  margin: 20px;
}

.app-wrapper
  .sidebar
  .sidebar-nav
  .container
  i:hover {
  color: #fff;
  cursor: pointer;
}
.main-container {
  width: 1100px;
  height: 900px;
  margin: 0 auto;
  padding: 40px;
}
.main-container .app-wrapper {
  width: 100%;
  height: 100%;
  margin: 50px auto;
  display: flex;

  justify-content: center;
  align-items: center;
}

.app-wrapper .sidebar {
  background: var(--secondary-color);
  flex: 1;
  height: 100%;
}
.chat-area {
  flex: 2;
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--main-chat-area);
}

.chat-messages {
  width: 100%;
  height: 500px;
  padding: 10px;
  overflow: auto;
}
.chat-messages .message {
}

.message-container {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.chat-messages .message p {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  /* width: 100px; */
  /* border-radius: 20px; */
  border: 2px solid rgb(68, 65, 65);
  padding: 10px 17px;
  background-color: #1d1d1f;
  font-size: 12px;
  color: #fff;
}

.chat-messages .message img {
  width: 40px;
  border-radius: 1000px;
  margin: 0px 6px;
}

.msg-time {
  font-size: 10px;
  color: rgb(182, 180, 180);
  align-self: flex-end;
}

.form-group {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.form-group input {
  padding: 5px;
  flex: 3;
  outline: none;
}

#submitbtn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(44, 33, 149);
  color: #fff;
  border: none;
}

#submitbtn i {
  font-size: 16px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 20px;
  background: rgb(31, 31, 31);
}

.header .logo {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header button {
  background: rgb(38, 38, 39);
  color: rgb(173, 173, 173);
  border: none;
  font-size: 12px;
  padding: 10px;
  border-radius: 6px;
}

.header button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.header i {
  font-size: 60px;
  color: rgb(75, 75, 75);
}

.header i:hover {
  color: #fff;
  cursor: pointer;
}
